node_modules
dist
/docs
/coverage
.node-version

# Sentry Config File
.sentryclirc
/.vs/StrictBCX/config/applicationhost.config
/.vs/StrictBCX/FileContentIndex/ee405b3f-5656-45c5-9b75-23c66dfcb583.vsidx
/.vs/StrictBCX/v17/.wsuo
/.vs/StrictBCX/v17/DocumentLayout.json
/.vs/StrictBCX/FileContentIndex
